<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuestBookRazor</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GuestBookRazor.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand" href="Index">@Resource.HomePageText</a>
            @{
                string currentLang = Context.Request.Cookies["lang"] ?? "en";
            }
            <form method="post" asp-controller="Account" asp-action="ChangeCulture" id="langForm">
                <select name="lang" class="form-control" id="langSelect">
                    @if (currentLang == "en")
                    {
                        <option value="en" selected>English</option>
                        <option value="uk">Українська</option>
                    }
                    else
                    {
                        <option value="en">English</option>
                        <option value="uk" selected>Українська</option>
                    }
                </select>
                <input type="submit" name="submitBtn" value="@Resource.ChangeLang" hidden id="submitBtn">
            </form>
            <div class="navbar-nav">
                @if (Context.Session.GetString("Name") == null)
                {
                    <a class="nav-link" href="Register">@Resource.RegisterText</a>
                }
                @if (Context.Session.GetString("Name") != null)
                {
                    <span class="nav-link">@Resource.HelloText, @Context.Session.GetString("Name")</span>
                    <a class="nav-link" href="Logout">@Resource.LogoutText</a>
                }
                else
                {
                    <a class="nav-link" href="Login">@Resource.LoginText</a>
                }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - GuestBookRazor - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
